# Node modules (if any JS tools involved)
node_modules
npm-debug.log

# Laravel specific
vendor
.env
.env.*
storage/logs
storage/framework

# OS / Editor junk
.DS_Store
.idea
.vscode
*.swp
*.swo
*.bak

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
