.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.welcome-text {
  font-size: 2.5rem; /* Adjust the size as needed */
  color: #61dafb; /* Change the color if desired */
  margin: 20px 0; /* Add some margin for spacing */
}